<%- include('bpUp.ejs'); %>


    <div class="container-lg p-5">

        <div class="card border-dark mb-3" style="max-width: 100rem; min-height: 80vh;">
            <div>
                <img src="<%= thisProduct.productImg %>" class="img-fluid w-100">
            </div>
            <div class="card-header h-25">
                <%= thisProduct.productName %>
                    <form action="/products/<%= thisProduct.id %>/delete" method="post" class="d-flex">
                        <button type="submit" class="btn btn-danger ms-auto">Delete</button>
                    </form>
                    <form action="/products/<%= thisProduct.id %>/edit" method="get" class="d-flex">
                        <button type="submit" class="btn btn-warning ms-auto">Edit</button>
                    </form>

            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <%= thisProduct.productPrice %>
                </h5>
                <p class="card-text">
                    <%= thisProduct.productQuality %>
                </p>
                <p class="card-text">
                    <%= thisProduct.productDescription %>
                </p>
            </div>
        </div>
        <a href="/products"><span class="badge text-bg-light">Explore Products</span>
            <a href="/create"><span class="badge text-bg-light">Create Product</span>

    </div>

    <%- include('bpDown.ejs'); %>