<%- include('bpUp.ejs'); %>



  <h1 class="display-1 text-center">Our Pr<span class="spinner-border"></span>ducts</h1>

  <div class="card-group row row-cols-1 row-cols-md-5 p-4 g-4">

    <%for(let product of products){%>

      <a href="/products/<%=product.id%>" class="text-decoration-none">

        <div class="card">
          <img src="<%=product.productImg%>" class="img-thumbnail">
          <div class="card-body">
            <h5 class="card-title">
              <%=product.productName%>
            </h5>
            <p class="card-text">Quality: <%=product.productQuality%>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">RS. <%=product.productPrice%></small>
          </div>
        </div>

      </a>

      <%}%>

        <br><a href="/create"><span class="badge text-bg-light">Create Product</span>
        </a>

  </div>





  <%- include('bpDown.ejs'); %>